.container-fluid {
  padding: 0;
}

.navbar-light {
  border-bottom: 1px solid #ddd;
}

.bg-dark {
  background-color: #343a40 !important;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  background-color: #495057;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}

.text-white {
  color: #ffffff !important;
}

.background-white {
  background-color: #f8f9fa !important;
}

.sidebar {
  background-color: #162250 !important;
  max-height: 100vh;
  border-radius: 0 5px 5px 0;
  box-shadow: #162250 0px 0px 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  padding-left: 15px;
}

.custom-hr {
  border-top: 2px solid #fff;
  width: 100%;
}

.nav-link-hover {
  border-radius: 7px;
}

.nav-link-hover:hover {
  background-color: #ffa600a1 !important;
}

.navbarStyle {
  border: none;
  border-bottom: 1px solid #ddd;
}

.job-offer-container {
  padding: 10px;
}

.job-card {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
}

.job-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 2rem;
}

.job-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #34495e;
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card-text {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
}

.status {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 1rem;
}

.status.active {
  color: #27ae60;
}

.status.inactive {
  color: #e74c3c;
}

.status.pending {
  color: #f39c12;
}

.skill-item {
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 0.9em;
  color: #333;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.handpointeronhover:hover {
  cursor: pointer;
}

.smallBorders {
  border: 2px solid #16225041;
  border-radius: 5px;
}

.floatingOnHover {
  transition: box-shadow 0.3s ease-in-out;
}

.floatingOnHover:hover {
  box-shadow: 0 0 10px #16225041;
}

.primaryButton {
  background-color: #162250 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.primaryButton:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px #1622507a;
  background-color: #162250c2 !important;
}

.secondaryButton {
  background-color: #f8f9fa !important;
  color: #162250 !important;
  border: 2px solid #162250 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.secondaryButton:hover {
  box-shadow: 0 5px 10px #1622507a;
  background-color: #162250 !important;
  color: #f8f9fa !important;
}

.secondaryDangerButton {
  background-color: #f8f9fa !important;
  color: #dc3545 !important;
  border: 2px solid #dc3545 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.secondaryDangerButton:hover {
  box-shadow: 0 5px 10px #dc35457a;
  background-color: #dc3545 !important;
  color: #f8f9fa !important;
}
