.container-fluid {
  padding: 0;
}

.navbar-light {
  border-bottom: 1px solid #ddd;
}

.bg-dark {
  background-color: #343a40 !important;
}

.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  background-color: #495057;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.p-0 {
  padding: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}

.text-white {
  color: #ffffff !important;
}

.background-white {
  background-color: #f8f9fa !important;
}

.sidebar {
  background-color: #162250 !important;
  max-height: 100vh;
  border-radius: 0 5px 5px 0;
  box-shadow: #162250 0px 0px 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}
.topbar {
  background-color: #162250 !important;
  max-height: 100vh;
  border-radius: 0 5px 5px 0;
  box-shadow: #162250 0px 0px 10px;
  position: sticky;
  top: 0;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  padding-left: 15px;
}

.custom-hr {
  border-top: 2px solid #fff;
  width: 100%;
}

.nav-link-hover {
  border-radius: 7px;
}

.nav-link-hover:hover {
  background-color: #ffa600a1 !important;
}

.nav-link-active {
  background-color: #ffa600a1 !important;
}

.navbarStyle {
  border: none;
  border-bottom: 1px solid #ddd;
}

.primaryTextColor {
  color: #162250 !important;
}

.title {
  color: #004085;
  font-size: 1.8rem;
  font-weight: 600;
}

.subtitle {
  color: #095bb3;
  font-size: 1.6rem;
  font-weight: 600;
}
/* HomePage */
.job-offer-item {
  background-color: #f3f4f6;
  border: 1px solid #c0c4cc;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.job-offer-item:hover {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px);
}

.job-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.job-offer-item p {
  font-size: 1rem;
  color: #5a6473;
}

.user-item {
  background-color: #f3f4f6;
  border: 1px solid #c0c4cc;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.analytics-item {
  background-color: #f3f4f6;
  border: 1px solid #c0c4cc;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  width: fit-content; /* This makes the width adjust to the content */
  display: inline-block;
}


.user-item p {
  font-size: 1rem;
  color: #5a6473;
}

.status {
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 12px;
  font-size: 0.85rem;
  display: inline-block;
  background-color: #dee2e6;
  color: #495057;
}

.status.created {
  background-color: #aac6f2;
}

.status.selection_phase {
  background-color: #c3e0e5;
}

.status.candidate_proposal {
  background-color: #ffdd8a;
}

.status.consolidated {
  background-color: #c9ccd1;
}

.status.abort {
  background-color: #f5b7b1;
}

.status.done {
  background-color: #c8e6c9;
}

.status.received {
  background-color: #aac6f2;
}

.status.read {
  background-color: #c3e0e5;
}

.status.processing {
  background-color: #ffdd8a;
}

.status.discarded {
  background-color: #c9ccd1;
}

.status.failed {
  background-color: #f5b7b1;
}

/* Pulsante "Add Job Offer" */
.primaryButton {
  background-color: #2c3e50;
  border: none;
  color: white;
}

.primaryButton:hover {
  background-color: #34495e;
}

.sidebar-search {
  background-color: #f0f0f3;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
}

.sidebar-search h5 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #2c3e50;
}

.sidebar-search .form-control {
  background-color: #ffffff;
  border: 1px solid #aab2bc;
  border-radius: 8px;
}

.sidebar-search .btn-primary {
  background-color: #f6a500;
  border: none;
}

.sidebar-search .btn-primary:hover {
  background-color: #f39c12;
}
/* End HomePage */

/* AddJobOfferPage */
.add-job-offer-container {
  background-color: #e1e8f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.add-job-offer-container h1 {
  color: #004085;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.add-job-offer-container h3 {
  color: #004085;
  font-weight: bold;
  font-size: 1.8rem;
}

.add-job-offer-container .form-control {
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.add-job-offer-container .form-control:focus {
  border-color: #004085;
  box-shadow: 0 0 5px rgba(0, 64, 133, 0.2);
}

.add-job-offer-container .primaryButton {
  background-color: #004085;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.add-job-offer-container .primaryButton:hover {
  background-color: #002d5c;
  color: white;
}

.add-job-offer-container .close-button {
  background-color: transparent;
  border: 2px solid #004085;
  color: #004085;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.add-job-offer-container .close-button:hover {
  background-color: #004085;
  color: white;
}

.add-job-offer-container .skills-section {
  background-color: #f0f4f8;
  border: 1px solid #cbd2d9;
  padding: 15px;
  border-radius: 8px;
}

.add-job-offer-container .form-select {
  background-color: #ffffff;
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.add-job-offer-container .form-select:focus {
  border-color: #004085;
  outline: none;
}

.add-job-offer-container .form-textarea {
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding: 10px;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

.add-job-offer-container .form-textarea:focus {
  border-color: #004085;
  outline: none;
}
/* End AddJobOfferPage */

/* JobOfferDetailPage */
.skill-item {
  background-color: #f3f4f6;
  border: 1px solid #c0c4cc;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 0.9em;
  color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-text {
  flex-grow: 1;
  padding-right: 15px;
}

.skill-item button {
  margin-left: auto;
  text-align: center;
  justify-content: center;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.skill-item button:hover {
  background-color: #f39c12;
}

/* Progress Bar */
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.progress-step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: #2c3e50;
}

.progress-step:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 28%;
  left: -50%;
  width: 100%;
  height: 5px;
  background-color: #dee2e6;
  z-index: 1;
  transform: translateY(-50%);
}

.progress-step.completed:not(:first-child)::before {
  background-color: #004085;
}

.progress-step.abort:not(:first-child)::before {
  background-color: #f5b7b1;
}

.circle {
  z-index: 2;
  background-color: white;
  border: 2px solid #cbd2d9;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle .text-success {
  color: #2c3e50;
}

.circle .text-danger {
  color: #f5b7b1;
}

.label {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #2c3e50;
}

.modal-confirm-button {
  background-color: #004085;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.modal-confirm-button:hover {
  background-color: #002d5c;
}

.modal-cancel-button {
  background-color: transparent;
  border: 2px solid #004085;
  color: #004085;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.modal-cancel-button:hover {
  background-color: #004085;
  color: white;
}

/* Form and Button Styling */
.form-control {
  background-color: #ffffff;
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding: 10px;
}

.form-control:focus {
  border-color: #004085;
  box-shadow: 0 0 5px rgba(0, 64, 133, 0.2);
}

button.primaryButton {
  background-color: #004085;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button.primaryButton:hover {
  background-color: #002d5c;
}
/* End JobOfferDetailPage */

/* Customer Page */
.borderedSection {
  background-color: #f0f4f8;
  border-radius: 8px;
  border: 1px solid #cbd2d9;
  padding: 20px;
  transition: all 0.3s ease;
}

.borderedSection:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.borderedSection h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #004085;
  margin-bottom: 8px;
}

.borderedSection h4 span {
  font-size: 1rem;
  color: #6c757d;
}

.borderedSection p {
  color: #343a40;
  font-size: 1rem;
  margin-bottom: 0;
}

.borderedSection .fs-6 {
  font-size: 0.875rem;
}

.borderedSection h6 {
  font-size: 1.1rem;
  color: #004085;
  margin-bottom: 12px;
  font-weight: 500;
}

.borderedSection small {
  font-size: 0.8rem;
  color: #6c757d;
}

.text-muted {
  color: #6c757d !important;
}

.text-center {
  font-size: 1rem;
  color: #495057;
}

.borderedSection .text-center:hover {
  text-decoration: underline;
  color: #004085;
}

.borderedSection .cursor-pointer {
  cursor: pointer;
  font-size: 0.9rem;
}

.borderedSection .fs-6.text-muted p {
  font-size: 0.875rem;
  color: #495057;
}

.borderedSection .justify-content-center {
  margin-top: 15px;
}

.borderedSection .show-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #6c757d;
}

.borderedSection .show-details:hover {
  color: #004085;
  transition: color 0.2s ease;
}

.borderedSection .show-details p {
  margin-left: 8px;
  margin-bottom: 0;
  font-size: 1rem;
}
/* End Customer Page */

/* PageNotFound */
.page-not-found {
  background-color: #e1e8f0;
}

.icon-container {
  margin-bottom: 30px;
  animation: bounce 2s infinite;
}

.icon-404 {
  font-size: 80px;
  color: #dc3545;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* End PageNotFound */

/* Login Prompt */
.icon-container {
  margin-bottom: 30px;
  animation: bounce 2s infinite;
}

.icon-login {
  font-size: 60px;
  color: #007bff; /* Icona di login in blu */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* End Login Prompt */

/* About Us */
.about-text {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}

.icon-container {
  animation: bounce 2s infinite;
}

.icon-about {
  font-size: 80px;
  color: #007bff;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* End About Us */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.handpointeronhover:hover {
  cursor: pointer;
}

.smallBorders {
  border: 2px solid #16225041;
  border-radius: 5px;
}

.floatingOnHover {
  transition: box-shadow 0.3s ease-in-out;
}

.floatingOnHover:hover {
  box-shadow: 0 0 10px #16225041;
}

.primaryButton {
  background-color: #162250 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease !important;
  font-size: 18px !important;
}

.primaryButton:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px #1622507a;
  background-color: #162250c2 !important;
}

.primarySuccessButton {
  background-color: #eaf7ea !important;
  color: #218838 !important;
  border: 2px solid #218838 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease !important;
  font-size: 18px !important;
}

.primarySuccessButton:hover {
  box-shadow: 0 5px 10px rgba(22, 34, 80, 0.2);
  transform: translateY(-5px) scale(1.05);
  background-color: #1e7e34 !important;
  color: white !important;
}

.secondaryButton {
  background-color: #f8f9fa !important;
  color: #162250 !important;
  border: 2px solid #162250 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
  font-size: 18px !important;
}

.secondaryButton:hover {
  box-shadow: 0 5px 10px #1622507a;
  background-color: #162250 !important;
  color: #f8f9fa !important;
}

.primaryDangerButton {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.primaryDangerButton:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px #dc35457a;
  background-color: #dc3545c2 !important;
}

.secondaryDangerButton {
  background-color: #f8f9fa !important;
  color: #dc3545 !important;
  border: 2px solid #dc3545 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
  font-size: 18px !important;
}

.secondaryDangerButton:hover {
  box-shadow: 0 5px 10px #dc35457a;
  background-color: #dc3545 !important;
  color: #f8f9fa !important;
}

.secondaryWarningButton {
  background-color: #f8f9fa !important;
  color: #ffc107 !important;
  border: 2px solid #ffc107 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
  font-size: 18px !important;
}

.secondaryWarningButton:hover {
  box-shadow: 0 5px 10px #ffc1077a;
  background-color: #ffc107 !important;
  color: #f8f9fa !important;
}

.tag {
  background-color: #566bc0;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

@media (max-width: 576px) {
  .text-center-sm {
    text-align: center !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .text-right-md {
    text-align: right !important;
  }
}

.borderedSection {
  border: 2px solid #16225041;
  border-radius: 5px;
  padding: 20px;
}

.custom-pagination .page-item.active .page-link {
  background-color: #162250; /* Colore di sfondo per l'elemento attivo */
  border-color: #162250; /* Colore del bordo per l'elemento attivo */
  color: white; /* Colore del testo per l'elemento attivo */
}

.custom-pagination .page-item .page-link {
  color: #162250; /* Colore del testo per gli elementi non attivi */
}

.custom-pagination .page-item .page-link:hover {
  background-color: #162250c2; /* Colore di sfondo al passaggio del mouse */
  border-color: #162250c2 !important; /* Colore del bordo al passaggio del mouse */
  color: white; /* Colore del testo al passaggio del mouse */
}

.custom-pagination .page-item.disabled .page-link {
  color: #6c757d; /* Colore del testo per gli elementi disabilitati */
}

.loading-card {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 8px;
  height: 100px;
  margin-bottom: 1rem;
}

.loading-detail-page {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 8px;
  height: 100vh;
  margin-bottom: 1rem;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
